:root {
    /*** Predefined Colors ***/
  --clr-dark-cyan: #0e8784;
  --clr-dark-grey-blue: #333d4b;
  --clr-pale-orange: #fdd6ba;
  --clr-light-cream: #fefcf7;
  --clr-grey: #83888f;

  /*** Interactibles ***/  
  --clr-primary: var(--clr-dark-cyan);
  --clr-primary-hover: #66d2cf;
  --clr-primary-disabled: #e2dedb;

  --clr-selection: var(--clr-light-cream);
  --clr-selection-hover: var(--clr-pale-orange);
  --clr-selection-active: var(--clr-dark-cyan);

  /*** Surfaces ***/
  --clr-base: var(--clr-dark-grey-blue);
  --clr-surface: var(--clr-grey);

  /*** On-Surfaces ***/
  --clr-on-primary: var(--clr-light-cream);
  --clr-on-base: var(--clr-light-cream);
  --clr-on-surface: var(--clr-light-cream);

  /*** Other Text ***/
  --clr-text-1: var(--clr-dark-grey-blue);
  --clr-text-2: var(--clr-grey);
  --clr-text-2-disabled: #c1c4c7;

  font-size: 16px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.title-alt-big {
    font-family: 'Fraunces', serif;
    font-size: 9.375rem;
    text-transform: lowercase;
    color: var(--clr-grey);
}

nav {
    font-size: 0.75rem;
    font-weight: 700;
}

.max-width {
  max-width: 1280px;
}