---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<style>
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*** Section - Hero ***/
  section.hero {
    background-image: url(/images/home/mobile/image-hero-coffeepress.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: var(--radius-surface);

    padding-left: initial;
    /* padding-inline: 1rem; */

    color: var(--clr-on-primary);
    text-align: center;

    height: 31.25rem;
  }

  h1.hero-title {
    color: var(--clr-on-primary);
    max-width: 12ch;
    margin: 0;
    line-height: 1.45ch;
  }

  p.hero-paragraph {
    max-width: 46ch;
    font-size: 1rem;
    line-height: 1.5rem;

    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  /*** Section - Our Collection ***/

  h3.section-2-title {
    text-transform: lowercase;
  }

  section.section-2 > p {
    max-width: 30ch;
  }

  @media screen and (min-width: 768px) {
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: start;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }

    section.hero {
      justify-content: center;
      align-items: start;

      padding-inline: initial;
      padding-left: 8rem;
      text-align: start;

      min-height: 37.5rem;

      background-image: url(/images/home/desktop/image-hero-coffeepress.jpg);
    }
  }
</style>

<Layout>
  <section class='hero'>
    <h1 class='hero-title'>Great coffee made simple.</h1>

    <p class='hero-paragraph'>
      Start your mornings with the world’s best coffees. Try our expertly
      curated artisan coffees from our best roasters delivered directly to your
      door, at your schedule.
    </p>

    <Button
      isLink={true}
      url='/plan'>
      <span>Create your plan</span>
    </Button>
  </section>

  <section class='section-2'>
    <h3 class='section-2-title heading-1'>Our collection</h3>

    <h4>Gran Espresso</h4>
    <p>
      Light and flavorful blend with cocoa and black pepper for an intense
      experience
    </p>

    <h4>Planalto</h4>
    <p>
      Brazilian dark roast with rich and velvety body, and hints of fruits and
      nuts
    </p>

    <h4>Piccollo</h4>
    <p>
      Mild and smooth blend featuring notes of toasted almond and dried cherry
    </p>

    <h4>Danche</h4>
    <p>
      Ethiopian hand-harvested blend densely packed with vibrant fruit notes
    </p>
  </section>

  <section>
    <h3>Why choose us?</h3>
    <p>
      A large part of our role is choosing which particular coffees will be
      featured in our range. This means working closely with the best coffee
      growers to give you a more impactful experience on every level.
    </p>

    <h4>Best quality</h4>
    <p>
      Discover an endless variety of the world’s best artisan coffee from each
      of our roasters.
    </p>

    <h4>Exclusive benefits</h4>
    <p>
      Special offers and swag when you subscribe, including 30% off your first
      shipment.
    </p>

    <h4>Free shipping</h4>
    <p>
      We cover the cost and coffee is delivered fast. Peak freshness:
      guaranteed.
    </p>
  </section>

  <section>
    <h3>How it works</h3>

    <ol>
      <li>
        <p>01</p>
        <h4>Pick your coffee</h4>
        <p>
          Select from our evolving range of artisan coffees. Our beans are
          ethically sourced and we pay fair prices for them. There are new
          coffees in all profiles every month for you to try out.
        </p>
      </li>
      <li>
        <p>02</p>
        <h4>Choose the frequency</h4>
        <p>
          Customize your order frequency, quantity, even your roast style and
          grind type. Pause, skip or cancel your subscription with no commitment
          through our online portal.
        </p>
      </li>

      <li>
        <p>03</p>
        <h4>Receive and enjoy!</h4>
        <p>
          We ship your package within 48 hours, freshly roasted. Sit back and
          enjoy award-winning world-class coffees curated to provide a distinct
          tasting experience.
        </p>
      </li>
    </ol>
  </section>

  <a href='/plan'>Create your plan</a>
</Layout>
